<!-- there is a div for each of these blocks in the base html so by doing this 
you are simply changing small parts of the html in base instead of making multple entire files. -->

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes%}
  <li class="list-group-item">
    {{note.data}}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>

  {%endfor%}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
    <!-- When you make a submit button it sends what ever 
        form method you have to the site's domain.
    In this case the form is a POST soin your code you have to
     catch this post and manipulate the data how you want. -->
  </div>
</form>
{% endblock %}
